<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reactive</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>

<header>
    <img th:src="@{/images/PharmaReactives-logo.png}"/>
</header>
<hr/>
<table class="table">

    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>FORMULA</th>
        <th>STOCK</th>
        <th>PRICE</th>
        <th>MEASURED UNIT</th>
    </tr>

    <tr>
        <td th:text="${reactive.getId()}">value</td>
        <td th:text="${reactive.getName()}">value</td>
        <td th:text="${reactive.getFormula()}">value</td>
        <td th:text="${reactive.getStock()}">value</td>
        <td th:text="${reactive.getPrice()}">value</td>
        <td th:text="${reactive.getMeasure_unit()}">value</td>

    </tr>

</table>

<hr/>

<a th:href="@{/reactives/{id}/edit(id=${reactive.getId()})}">Edit reactive</a>
<form th:method="DELETE" th:action="@{/reactives/{id}(id=${reactive.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<hr/>

</body>
</html>